@{
    ViewBag.Title = "Home Page";
}

@using ASPDemo.Helpers
@model ASPDemo.Models.IndexViewModel

<table class="table">
    <tr>
        <td>Name</td>
        <td>Creator</td>
    </tr>
    @foreach (var item in Model.ProgrammingLanguages)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Creator</td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>